/* TalTech storybook used as reference: https://storybook.taltech.ee/ */

:root {
  /* TalTech Secondary colors */
  --bs-secondary-light: #fce6f2;
  --bs-secondary: #e4067e;
  --bs-secondary-dark: #ab055f;
  /* TalTech Primary colors */
  --bs-primary-light: #676088;
  --bs-primary: #342b60;
  --bs-primary-dark: #272048;
  /* TalTech Accent colors */
  --bs-accent-light: #edf9fb;
  --bs-accent: #4dbed2;
  --bs-accent-dark: #43a6b8;
  /* TalTech Secondary Accent colors */
  --bs-accent-second-light: #f7e7ee;
  --bs-accent-second: #aa1352;
  --bs-accent-second-dark: #800e3e;
  /* TalTech Third Accent colors */
  --bs-accent-third-light: #eff8ed;
  --bs-accent-third: #62bb46;
  --bs-accent-third-dark: #315e23;

  /* Primary foreground color */
  --md-primary-fg-color:        var(--bs-secondary);
  --md-primary-fg-color--light: var(--bs-secondary);
  --md-primary-fg-color--dark:  var(--bs-secondary);
  /* Accent foreground color */
  --md-accent-fg-color:         var(--bs-secondary-dark);
}

.md-header {
  /* Background color for header */
  background: var(--bs-secondary);
}

.md-tabs {
  /* Background color for top navbar */
  background: var(--bs-secondary);
}

.md-pink-gradient {
  /* Pink gradient background, not used anywhere, here for reference */
  background: linear-gradient(90deg, var(--bs-secondary) 0%, var(--bs-secondary) 33%, #eb449e 66%, #f283bf 100%);
}

@media (min-width: 1200px) {
  .md-content__inner img { 
    /* Max width for images inside content on large screens */
    max-width: 80%;
  }
}

/* Change color of headings to differentiate them more */
.md-content h1, 
.md-content h2, 
.md-content h3, 
.md-content h4, 
.md-content h5, 
.md-content h6 {
  /* color: var(--bs-secondary); */
  font-weight: bold;
}

/* Enumerate headings using vanilla CSS */
body {
  counter-reset: h2;
}

h2 {
  counter-reset: h3;
}

h3 {
  counter-reset: h4;
}

h4 {
  counter-reset: h5;
}

h5 {
  counter-reset: h6;
}

article h2:before {
  content: counter(h2, decimal) ". ";
  counter-increment: h2;
}

article h3:before {
  content: counter(h2, decimal) "." counter(h3, decimal) ". ";
  counter-increment: h3;
}

article h4:before {
  content: counter(h2, decimal) "." counter(h3, decimal) "." counter(h4, decimal) ". ";
  counter-increment: h4;
}

article h5:before {
  content: counter(h2, decimal) "." counter(h3, decimal) "." counter(h4, decimal) "." counter(h5, decimal) ". ";
  counter-increment: h5;
}

article h6:before {
  content: counter(h2, decimal) "." counter(h3, decimal) "." counter(h4, decimal) "." counter(h5, decimal) "." counter(h6, decimal) ". ";
  counter-increment: h6;
}

h2.nocount:before, 
h3.nocount:before, 
h4.nocount:before, 
h5.nocount:before, 
h6.nocount:before {
  content: "";
  counter-increment: none;
}

/* GitHub style tables */
th, td {
  border: 1px solid var(--md-typeset-table-color);
  border-spacing: 0;
  border-bottom: none;
  border-left: none;
  border-top: none;
}

.md-typeset__table {
  line-height: 1;
}

.md-typeset__table table:not([class]) {
  font-size: .74rem;
  border-right: none;
}

.md-typeset__table table:not([class]) td,
.md-typeset__table table:not([class]) th {
  padding: 9px;
}

/* light mode alternating table bg colors */
.md-typeset__table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

/* dark mode alternating table bg colors */
[data-md-color-scheme="slate"] .md-typeset__table tr:nth-child(2n) {
  background-color: hsla(var(--md-hue),15%,15%,1)
}